snippet gdscript
	extends ${1:BaseClass}

	# class member variables go here, for example:
	# var a = 2
	# var b = \textvar\

	func _ready():
	\t# Called every time the node is added to the scene.
	\t# Initialization here
	\tpass