snippet met
public function $1($2)
{
	$0
}
endsnippet

snippet pmet
protected function $1($2)
{
	$0
}
endsnippet

snippet smet
public static function $1($2)
{
	$0
}
endsnippet

snippet con
public function __construct($1)
{
	$0
}
endsnippet
